.project {
	width: 100%;
	max-width: 100%;
	height: min-content;
	position: relative;

	&--inner {
		padding: 70px;

		@media (max-width: 900px) {
			padding: 30px 10px;
		}
	}

	&--double {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		padding: 20px 0px;


		@media (max-width: 900px) {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, min-content);
			grid-row-gap: 10px;
			padding: 10px 0px;
		}
	}
}

.project__text {
	font-family: var(--basic-font-family);
	color: var(--standart-text-color);
	font-size: var(--project-text-size);
	font-weight: 500;
	line-height: 18px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;

	&--eng {
		font-size: var(--project-eng-text-size);
		font-weight: normal;
		font-style: italic;
		color: var(--text-gray-color);
	}

	&--main {
		position: absolute;
		left: 20px;
		bottom: 20px;
		color: var(--light-text-color);
		font-weight: bold;
		align-items: flex-start;
		gap: 0px;

		& > .project__text--eng {
			color: var(--light-text-color);
			opacity: 0.9;
		}
	}

	&--inner {
		padding: 20px 10px;
		text-align: center;
	}

	&--double {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 10px 10px 0 30px;
	}
}

.project__img {
	object-fit: contain;
	display: flex;
	width: 100%;
	height: 100%;

	&--double-main {
		grid-row-start: 1;
		grid-row-end: 3;
		height: 100%;
		object-fit: cover;
	}

	&--double-mini {
		padding: 40px 0px 0px 10px;
	}
}

