.header {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 0 var(--standart-side-padding);

	@media (max-width: 900px) {
		padding: 0 var(--mobile-side-padding);
	}
}

.header__logo {
	width: 250px;
	height: 80px;
	object-fit: contain;
}

.header__title {
	font-size: 17px;
	font-weight: 500;
	font-family: var(--basic-font-family);
	font-style: italic;
}
